.daterangepicker .input-mini, .daterangepicker .input-mini.active {
  border-top: none;
  border-right: none;
  border-left: none;
  border-radius: 0;
  box-shadow: none;
}
.daterangepicker select {
  border: 0;
  background: 0;
  outline: 0;
  font-size: 14px !important;
  cursor: pointer !important;
  width: auto !important;
}
.daterangepicker .monthselect {
  margin-right: 5% !important;
}
.daterangepicker td.start-date, .daterangepicker td.available, .daterangepicker td.end-date {
  border-radius: 20px;
}
.daterangepicker td.in-range:not(.end-date) {
  background: transparent;
  color: #357ebd;
}
.daterangepicker th:not(.prev):not(.next):not(.month) {
  color: #aaa;
}
.daterangepicker .week {
  display: none;
}
.daterangepicker .fa-calendar {
  display: none;
}
